*{
	background: grey;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* This changes the background of the portfolio site to grey, contrast looks good
   removes the automatic padding and margin from the HTML page */
img:hover{
	  animation: pulse 1s linear infinite;
}
/* Uses the animation of pulse when the images are hovered over, declared in the keyframes
   near the bottom */
body{
	font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}
/* Changes the font-family of the font in the body so that it is all the same */

.profileImage{
  background:url('../images/test.jpg');
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20%;
  color: blue;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 15px, 0 0 15px;
  /* adds a shadow to the image to make it look nicer*/
  transition: .5s;
  /*sets the timescale for the transition*/
}
/*positions the profile image to be exactly where it was wanted, sets sizing and
 border radius of 50% to make it a circle  */

.workNav{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 15px, 0 0 15px;
  transition: .5s;
  animation: opacity 1s linear;
  text-align: center;
  color: blue;
}
/*positions the circle image to be exactly where it was wanted, sets sizing and
 border radius of 50% to make it a circle  */
.workNav h3, .contactNav h3, .homeNav h3{
	color: white;
	background: none;
	text-align: center;
	position: relative;
	top: 40%;
}
/*Changes the navigation headings to be white, no backround and have a relative position of 40% from the top*/

.contactNav{
	color: blue;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 8%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 15px, 0 0 15px;
  transition: .5s;
  animation: opacity 1s linear;
}
/* Sets the styling for the contact button on the navigation */

.homeNav{
	color: blue;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 8%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 15px, 0 0 15px;
  transition: .5s;
  animation: opacity 1s linear;
}
/* sets all the styling for the home navigation*/
.profileImage:hover, .workNav:hover, .contactNav:hover, .homeNav:hover{
   transform: translate(-50%, -50%) scale(.9);
   animation: pulse 1s linear infinite;
}
/* Sets the animation of pulse on the navigation and the profile image*/
.contact{
	color:white;
	background:none;
	position: relative;
	left: 20%;
	top: 20%;
}
/* Sets the styling for the contact classes which are headings with contact details on*/
h3 span{
	color:blue;
	background: none;
	font-size: 30px;
}
/* Changes the color of the spans on the contact.html page, headings for the contact information e.g. mobile */

.fa-twitter{
	position: absolute;
	left: 35%;
	top: 80%;
	margin: 20px;
	background: none;
	color: blue;
	opacity: 1;
    animation: opacity 4s linear;
}
/* Sets the positioning for the twitter logo*/
.fa-facebook{
	position: absolute;
	left: 40%;
	top: 80%;
	margin: 20px;
	background: none;
	color: blue;
	opacity: 1;
   animation: opacity 5s linear;
}
/* Sets the positioning for the facebook logo*/
.fa-linkedin{
	position: absolute;
	left: 45%;
	top: 80%;
	margin: 20px;
	background: none;
	color: blue;
	opacity: 1;
    animation: opacity 6s linear;
}
/* Sets the positioning for the linkedin logo*/
.fa-github{
	position: absolute;
	left: 50%;
	top: 80%;
	margin: 20px;
	background: none;
	color: blue;
	opacity: 1;
   animation: opacity 7s linear;
}
/* Sets the positioning for the github logo*/

.mySlides{
  width: 90%;
}
/*sets the positioning of the images with a class of 'mySlides' to be 90% width 
  of the grid */
  .doggieDesc{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    color: white;
    background: none;
  }
  /*sets the description of doggie walks to sit under the image*/
    .captchaDesc{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    color: white;
    background: none;
  }
   /*sets the description of captcha form to sit under the correct image*/
.myWork{
	position: relative;
	top: 7%;
	left: 20%;
	background:none;
	display:grid;
	 grid-template-columns: 1fr 1fr 200px ;
	 grid-gap: 20px;
}
/*sets the div of myWork into a grid display and gives it three colums, places the div on the screen*/
a{
  background: none;
}
/*removes the background of the links*/

.menu{
	width: 80%;
	height: 100vh;
	background:black;
	float: right;
	animation: menu 1s linear 1;
}
/*adds animation to the menu and sets it to 100 viewport heights to fit th height of the screen its on*/
.menu h1 {
	color:white;
	position: relative;
	top: 5%;
	left: 20%;
	background: none;
	font-size: 50px;
	animation: opacity 3s linear;
}
/*changes style of heading one in the menu and makes it fade in with the animation*/
.subheading{
	left: 20%;
}
/* Moves the subheading away from the left hand side of the div*/
.menu h2 {
	background: blue;
	color:white;
	position: relative;
	top: 5%;
	background: none;
	font-size: 30px;
	animation: opacity 3s linear;
}
/* Changes the style of the heading and lets it fade in, changes the positioning from the top of the div*/
.menu p {
	color:white;
	position: relative;
	left: 20%;
	top: 20%;
	background: none;
	font-size: 20px;
	width: 70%;
	animation: opacity 3s linear;
}
/* Changes the style of the paragraphs within the menu and lets it fade in, changes the positioning from the top of the div*/
.menu h1 span {
	color: blue;
	background:none;
}
/* Adds a colour to the span on the h1*/

@keyframes pulse{
	0%
	{
		box-shadow: 0 0 15px;
	}
	50%
	{
		box-shadow: 0 0 10px;
	}
	100%
	{
		box-shadow: 0 0 5px;
	}
}
/*Animation for the pulse, changing the box shadow to drop from 15px to 5px over time*/

@keyframes opacity{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
/*Animation for the opacity, changing the opacity from 0 to 1 over time*/

@keyframes menu {
  from {
     width: 0;
     height: 100vh;
      background: grey;
  }

  to {
    width: 80%
    height:100vh;
    background:black;
  }
}
/*Animation for the menu, lets it slide in by manipulating the width in a transition*/
@media only screen and (max-width: 600px) {
	*{
		overflow:visible;
    /*adds overflow back on as it was originally turned off*/
    overflow-x: hidden;
	}
  .profileImage{
  	width:100px;
  	height:100px;
  	position:relative;
  	top:80px;
  	left:50%;
  	margin-bottom:50px;
  }
  /* Changes size of profile image for mobile versions */
  .workNav{
  	width:80px;
  	height:80px;
  	position:relative;
  	top:30px;
  	left:50%;
  }
  /* resizes the work link for mobile as its too big originally and re-positions it*/
    .contactNav{
  	width:80px;
  	height:80px;
  	position:relative;
  	top: -130px;
  	left:78%;
  }
   /* resizes the contact link for mobile as its too big originally, also gets re-positioned*/
    .homeNav{
  	width:80px;
  	height:80px;
  	position:relative;
  	top: -210px;
  	left:22%;
  }
   /* resizes the home link for mobile as its too big originally. Also gets re-positioned*/
  	.menu{
  		width:100%;
  		height:100%;
      padding-bottom: 50px;
  		position:relative;
  		top:-150px;
  		overflow-y: visible;
  		margin-bottom:0;
      animation: none;
  }
  /* Changes height to be 100% to prevent the overflow occuring, also changes the width to 100%
     so it fits the screen, the original animation is removes for mobile */
  .doggieDesc{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    color: white;
    background: none;
  }
  /* changes the position of description in the grid for mobile as it is only in 1 column now*/
    .captchaDesc{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    color: white;
    background: none;
  }
  /* changes the position of description in the grid for mobile as it is only in 1 column now*/
  .menu h1, .menu h2, .menu p{
  	position: relative;
  	left:15px;
  }
  /* sets the text of the headings and paragraph in the menu a little away from the left*/
  .menu h2{
  	margin-bottom: 20px;
  }
  /* sets the margin from the bottom to be 20px to give a little space*/
  .menu p{
  	text-align: center;
  	width:90%;
  }
  .fa-twitter{	
  	position: relative;
  	bottom: 10px;
  	left: 2%;
	}
	.fa-facebook{	
  	position: relative;
  	bottom: 10px;
  	left: 9%;
	}
	.fa-linkedin{	
  	position: relative;
  	bottom: 10px;
  	left: 16%;
	}
	.fa-github{	
  	position: relative;
  	bottom: 10px;
  	left: 25%;
	}
  /* Above sets the positioning for all of the imported font awesome icons */
	.myWork{
	position: relative;
	top: 25%;
	left: 12%;
	margin-top: 70px;
	width:100%;
	background:none;
	display:grid;
	 grid-template-columns: 1fr;
	 grid-gap: 20px;
}
/* Sets the grid layout to one column for mobile versions rather than the desktop and sorts
   out the positioning aswell as removing the background*/
.project1{
  width:100%;
  height: 300px;
  grid-column: 1/1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.desc1{
  position:relative;
  padding-left:0;
  grid-column: 1/1;
  grid-row-start:2 ;
  grid-row-end: 2;
}
.project2{
	width:100%;
	height:300px;
	  background-color: yellow;
  grid-column: 1/1;
  grid-row-start: 3;
  grid-row-end: 3;
}
.desc2{
	 grid-column: 1/1;
	 grid-row: 4/4;
}
.project3{
  width: 100%;
  height: 300px;
  background-color: yellow;
  grid-column: 1/1;
  grid-row-start: 5;
  grid-row-end: 5;
}
.desc3{
	 grid-column: 1/1;
	 grid-row:6/6
}
/* Above is simply altering the grid layout for mobile for the different classes*/
.mySlides{
  width: 80%;
}
/* sets the width to be 80%*/
a{
  text-decoration: none;
}
/* Removes the underline from the links */

